<!-- Contacto Info -->
<address>
	<strong><i class="fa fa-map-marker" aria-hidden="true"></i> Elite Fitness Club</strong><br>	
	Blvd. Solidaridad 1011, Pilares<br>
	Hermosillo, Sonora, México<br>
	83117 
</address>

<address>
	<strong><i class="fa fa-phone" aria-hidden="true"></i></strong> +3 11 63 41<br>	
</address>

<address>
	<strong><i class="fa fa-envelope" aria-hidden="true"></i></strong> contacto@efc.com.mx<br>	
</address>

<address>
	<table class="contact-hours">
		<tr>
			<td><strong><i class="fa fa-clock-o" aria-hidden="true"></i></strong></td><td>Lunes a Viernes</td><td>5AM - 10PM</td>
		</tr>
		<tr>
			<td></td><td>Sábado</td><td>6AM - 4PM</td>
		</tr>
	</table>
</address>

<div class="link-contact-fb">
	<a href="https://www.facebook.com/www.efc.com.mx/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Siguenos en facebook</a>
<div>
<br>
Copyright © 2017 Elite Fitness Club