<!-- Calendario -->
	<div class="container-fluid calendario-part segment">
		<div class="row text-center">
			<div class="col-md-12">

				<div class="container-fluid">	
					<div class="row text-center">
						<div class="col-md-12 text-center">
							<div class="title-on-dark">
								Horarios semana<br>
								12/05/2017 - 19/05/2017
							</div>
						</div>	<!-- Cell notfluid container -->						
					</div> <!-- Row not fluid container -->							
					<div class="row text-center">
						<div class="col-md-12 text-center">
							<center><calendar class-name="white-calendar"></calendar></center>
						</div>	<!-- Cell notfluid container -->																								
					</div> <!-- Row not fluid container -->						
				</div>	<!-- Not fluid container -->	

			</div> <!-- Cell fluid container -->						
		</div> <!-- Row fluid container -->	
	</div> <!-- Fluid container -->	