<!-- Membresias -->
	<div class="container-fluid membresias-part segment">
		<div class="row">
			<div class="col-md-12">

				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="title-on-dark">Planes a tu medida</div>
						</div>	<!-- Cell notfluid container -->						
					</div> <!-- Row not fluid container -->					
					<div class="row">
						<div class="col-md-3">
							<pricing-item plan="Mensual" price="300" price-tag="" items="['Caracteristica 1','Caracteristica 2']"></pricing-item>
						</div>	<!-- Cell notfluid container -->			
						<div class="col-md-3">
							<pricing-item plan="Trimestral" price="650" price-tag="" items="['Caracteristica 1','Caracteristica 2']"></pricing-item>
						</div>	<!-- Cell notfluid container -->			
						<div class="col-md-3">
							<pricing-item plan="Parejas" price="500" price-tag="/mes" items="['Caracteristica 1','Caracteristica 2']"></pricing-item>
						</div>	<!-- Cell notfluid container -->			
						<div class="col-md-3">
							<pricing-item plan="Familiar" price="1200" price-tag="/mes" items="['Caracteristica 1','Caracteristica 2']"></pricing-item>
						</div>	<!-- Cell notfluid container -->			
					</div> <!-- Row not fluid container -->	
				</div>	<!-- Not fluid container -->	

			</div> <!-- Cell fluid container -->						
		</div> <!-- Row fluid container -->	
	</div> <!-- Fluid container -->	