<!-- Membresias -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="classes-tile {{ $ctrl.classesImg }}">
								<span>{{ $ctrl.classesName }}</span>
							</div>	
							<p><ng-transclude class="classes-text"></ng-transclude></p>						
						</div>	<!-- Cell notfluid container -->						
					</div> <!-- Row not fluid container -->					
				</div>	<!-- Not fluid container -->	

			</div> <!-- Cell fluid container -->						
		</div> <!-- Row fluid container -->	
	</div> <!-- Fluid container -->	