<!-- Membresias -->
	<div class="container-fluid clases-part segment">
		<div class="row">
			<div class="col-md-12">

				<div class="container">	
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="title-on-light">Clases grupales</div>
						</div>	<!-- Cell notfluid container -->						
					</div> <!-- Row not fluid container -->							
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<classes-item classes-img="spinning-class" classes-name="Spinning">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.	
							</classes-item>													
						</div>	<!-- Cell notfluid container -->	
						<div class="col-md-6 col-lg-4">
							<classes-item classes-img="zumba-class" classes-name="Zumba">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.	
							</classes-item>													
						</div>	<!-- Cell notfluid container -->	
						<div class="col-md-6 col-lg-4">
							<classes-item classes-img="yoga-class" classes-name="Yoga">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.	
							</classes-item>													
						</div>	<!-- Cell notfluid container -->	
						<div class="col-md-6 col-lg-4">
							<classes-item classes-img="spinning-class" classes-name="Otra Clase">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
							</classes-item>													
						</div>	<!-- Cell notfluid container -->	
						<div class="col-md-6 col-lg-4">
							<classes-item classes-img="zumba-class" classes-name="Otra Clase">
								It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.	
							</classes-item>													
						</div>	<!-- Cell notfluid container -->																									
					</div> <!-- Row not fluid container -->	
					<div class="row">
																			
					</div> <!-- Row not fluid container -->						
				</div>	<!-- Not fluid container -->	

			</div> <!-- Cell fluid container -->						
		</div> <!-- Row fluid container -->	
	</div> <!-- Fluid container -->	