<header id="header">
	<div class="container-fluid top-contact hidden-sm-down">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm-11">
					<a href="tel:662-215-2035"><i class="fa fa-phone" aria-hidden="true"></i> <span class="info">6622 15 20 35</span></a>
					<a href="mailto:contacto@efc.com.mx"><i class="fa fa-envelope" aria-hidden="true"></i> <span class="info">contacto@efc.com.mx</span></a>
					<i class="fa fa-clock-o hidden-sm-down" aria-hidden="true"></i> <span class="info">Abierto 05:00 - 22:00</span>
				</div>		
				<div class="col-sm-1 text-right">
					<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
				</div>					
			</div><!-- row menu -->
		</div>
	</div><!-- container -->
	<div id="menu_container" class="container">
		<div class="row align-items-center">
			<div class="col-sm-2 col-md-2">
				<div id="logo-img"></div>
			</div>
			<div class="col-sm-10 col-md-10 text-right hidden-sm-down">
				<ul id="menu">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Gimnasio</a></li>
					<li><a href="#">Membresías</a></li>
					<li><a href="#">Clases</a></li>
					<li><a href="#">Calendario</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>	
			<div class="col-sm-10 col-md-10 text-right toggler-icon">
				<i class="fa fa-bars hidden-md-up" aria-hidden="true" onclick="$utils.expand_mobile_menu('mobile_menu_container');"></i>
			</div>					
		</div><!-- row menu -->
		<div id="mobile_menu_container" class="row align-items-center">
			<div class="col-sm-12 hidden-md-up">
				<ul id="mobile_menu">
				<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Gimnasio</a></li>
					<li><a href="#">Membresías</a></li>
					<li><a href="#">Clases</a></li>
					<li><a href="#">Calendario</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>					
		</div><!-- row mobile menu -->		
	</div><!-- container -->
</header>

<main-content></main-content>

<gimnasio-segment></gimnasio-segment>			

<membresias-segment></membresias-segment>

<clases-segment></clases-segment>