<header id="header">
	<div class="container-fluid top-contact hidden-sm-down">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm-11">
					<a href="tel:662-215-2035"><i class="fa fa-phone" aria-hidden="true"></i> <span class="info">6622 15 20 35</span></a>
					<a href="mailto:contacto@efc.com.mx"><i class="fa fa-envelope" aria-hidden="true"></i> <span class="info">contacto@efc.com.mx</span></a>
					<i class="fa fa-clock-o hidden-sm-down" aria-hidden="true"></i> <span class="info">Abierto 05:00 - 22:00</span>
				</div>		
				<div class="col-sm-1 text-right">
					<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
				</div>					
			</div><!-- row menu -->
		</div>
	</div><!-- container -->
	<div id="menu_container" class="container">
		<div class="row align-items-center">
			<div class="col-sm-2 col-md-2">
				<div id="logo-img"></div>
			</div>
			<div class="col-sm-10 col-md-10 text-right hidden-sm-down">
				<ul id="menu">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Gimnasio</a></li>
					<li><a href="#">Membresías</a></li>
					<li><a href="#">Clases</a></li>
					<li><a href="#">Calendario</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>	
			<div class="col-sm-10 col-md-10 text-right toggler-icon">
				<i class="fa fa-bars hidden-md-up" aria-hidden="true" onclick="$utils.expand_mobile_menu('mobile_menu_container');"></i>
			</div>					
		</div><!-- row menu -->
		<div id="mobile_menu_container" class="row align-items-center">
			<div class="col-sm-12 hidden-md-up">
				<ul id="mobile_menu">
				<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Gimnasio</a></li>
					<li><a href="#">Membresías</a></li>
					<li><a href="#">Clases</a></li>
					<li><a href="#">Calendario</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>					
		</div><!-- row mobile menu -->		
	</div><!-- container -->
</header>

<!-- Carousel -->
	<div class="container-fluid carousel-part">
		<div class="row">
			<div class="col-md-12">

				<!-- Carousel container -->
				<div id="main-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">

				<!-- Indicators -->
				<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
				</ol>

				<!-- Content -->
				<div class="carousel-inner" role="listbox">

				<!-- Slide 1 -->
				<div class="carousel-item active">
				<img src="carouselitem1.png" alt="Sunset over beach">
				  <div class="carousel-caption d-none d-md-block">
				    <h3>No Inscripcion</h3>
				    <p>Registrate online y no pagues inscripcion</p>
				  </div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item">
				<img src="carouselitem1.png" alt="Rob Roy Glacier">
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item">
				<img src="carouselitem1.png" alt="Longtail boats at Phi Phi">
				</div>

				</div>

				<!-- Previous/Next controls -->
				<a class="carousel-control-prev" href="#main-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#main-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
				</a>

				</div>

			</div>					
		</div>
	</div>

<!-- Gimnasio -->
	<div class="container-fluid gimnasio-part">
		<div class="row">
			<div class="col-md-12">

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2>Nuestro gimnasio</h2>
							<p>Contamos con...nuestras clases son...</p>
						</div>	
						<div class="col-md-12">
							<ul class="list-inline">
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="0"><img class="img-thumbnail" src="gallery/gal_thumbnail_1.png"><br>
							Caption</a></li>
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="1"><img class="img-thumbnail" src="gallery/gal_thumbnail_2.png"><br>
							Caption</a></li>
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="2"><img class="img-thumbnail" src="gallery/gal_thumbnail_3.png"><br>
							Caption</a></li>
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="3"><img class="img-thumbnail" src="gallery/gal_thumbnail_4.png"><br>
							Caption</a></li>
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="4"><img class="img-thumbnail" src="gallery/gal_thumbnail_5.png"><br>
							Caption</a></li>
							  <li data-toggle="modal" data-target="#gymGalModal"><a href="#gymGallery" data-slide-to="5"><img class="img-thumbnail" src="gallery/gal_thumbnail_6.png"><br>
							Caption</a></li>
							<!--end of thumbnails-->
							</ul>	

							<!--begin modal window-->
							<div class="modal fade" id="gymGalModal">
							<div class="modal-dialog">
							<div class="modal-content">
							<div class="modal-header">
							<div class="pull-left">Instalaciones</div>
							<button type="button" class="close" data-dismiss="modal" title="Close"> <i class="fa fa-close" aria-hidden="true"></i></button>
							</div>
							<div class="modal-body">

							<!--begin carousel-->
							<div id="gymGallery" class="carousel slide" data-ride="carousel" data-interval="false">
							<div class="carousel-inner" role="listbox">
							<div class="carousel-item active"> <img src="gallery/gal_1.png" alt="item0">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 0  description.</p>
							</div>
							</div>
							<div class="carousel-item"> <img src="gallery/gal_1.png" alt="item1">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 1 description.</p>
							</div>
							</div>
							<div class="carousel-item"> <img src="gallery/gal_1.png" alt="item2">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 2  description.</p>
							</div>
							</div>
							<div class="carousel-item"> <img src="gallery/gal_1.png" alt="item3">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 3 description.</p>
							</div>
							</div>
							<div class="carousel-item"> <img src="gallery/gal_1.png" alt="item4">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 4 description.</p>
							</div>
							</div>
							<div class="carousel-item"> <img src="gallery/gal_1.png" alt="item5">
							<div class="carousel-caption">
							<h3>Heading 3</h3>
							<p>Slide 5 description.</p>
							</div>
							</div>
							<!--end carousel-inner--></div>
							<!--Begin Previous and Next buttons-->
							<a class="carousel-control-prev" href="#gymGallery" role="button" data-slide="prev"> 
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
							</a> 
							<a class="carousel-control-next" href="#gymGallery" role="button" data-slide="next"> 
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
							</a>
							<!--end carousel--></div>

							<!--end modal-body--></div>
							<div class="modal-footer">
							<div class="pull-left">
							<small>Copyrighted</small>
							</div>
							<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
							<!--end modal-footer--></div>
							<!--end modal-content--></div>
							<!--end modal-dialoge--></div>
							<!--end gymGalModal-->></div>

						</div>				
					</div>
				</div>		

			</div>					
		</div>
	</div>			