* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.body {
	font-family: 'Nunito', sans-serif;	
	background-color: #ffffff;
}

#logo-img {
	background: image-url("logo.png") no-repeat;
	width: 154px;
	height: 93px;
	margin: 0px 0px 10px 0;
}

#header {
  background-color: #000000;
  border-radius: 0;
  border: 0;
  .top-contact{
  	padding: 7px 0px;
  	background-color: #ce021f;
  	color: #ffffff;
  	font-size: 0.8em;
  	i {
  		font-size: 1.2em;
  	}
  	.info {
  		margin: 0px 20px 0px 10px;
  	}
  	a {
  		color: #ffffff;
  		text-decoration: none;
  	}
  }
}

#menu {
	font-family: 'Changa', sans-serif;
	li {
		display: inline;
		list-style-type: none;		
	  	transition: 0.4s;
	  	font-size: 1.4em;
	  	padding: 0 10px;
	  	margin: 0 10px;
	  	&:hover {
		  	background-color: #ffffff;
		  	padding: 12px 10px;
		  	color: #ce021f;
	  	}
	  	a {
		  	color: #ffffff;
		  	text-decoration: none;
		  	text-transform: uppercase;
		  	cursor: pointer;
		  	&:hover {
		  		color: #ce021f;
		  	}	  		
	  	}
	}	
	.active{
		border-bottom: 3px solid #ce021f;
		padding-bottom: 5px;
	}
}

.toggler-icon {
	display: none;
}

.carousel-part {
	background-color: #252525;
	background-image: image-url("bg-1.jpg");
	height: 850px;
}

.main-container {
	height: 700px;
}

.main-title1 {
	font-size: 4em;
	font-family: "Changa", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	line-height: 1em;
}

.main-title2 {
	font-size: 3.2em;
	font-family: "Changa", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ce021f;
}

.main-text {
	color: #dddddd;
	font-size: 1.2em;
}

.main-try {
	color: #ffffff;
	font-size: 1.2em;
	background-color: #ce021f;
	border-radius: 7px;
	width: 320px;
	text-align: center;
	font-weight: bold;
	border-right: 3px solid #990016;
	border-bottom: 3px solid #990016;
}

.main-scroll {
	color: #cccccc;
	font-size: 0.6em;
}

.segment {
	padding: 100px 0px;	
}

.membresias-part, .calendario-part {
	background-color: #252525;
}

.gimnasio-part, .clases-part, .contacto-part {
	background-color: #ffffff;	
	h2 {
		font-size: 1.8em;
	}
	p {
		font-size: 0.8em;
	}
}

#main-carousel {
	width: 60%;
	margin: auto;
}

#main-carousel .carousel .carousel-item {
    height: 700px;
}

#main-carousel .carousel .carousel-item img {
    margin: 0 auto; /* Align slide image horizontally center */
    min-height: 300px;  
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	max-width: none;
}

/*GYM */

.icon-gimnasio-segment {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.dumbbell-icon {
	background-image: image-url("dumbbell_icon.png");
}

.cardio-icon {
	background-image: image-url("cardio_icon.png");
}

.freeweights-icon {
	background-image: image-url("freeweights_icon.png");
}

.title-on-dark {
	color: #ffffff;
	font-size: 2.4em;
	font-weight: bold;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.title-on-light {
	color: #252525;
	font-size: 2.4em;
	font-weight: bold;
	font-family: 'Changa', sans-serif;
	text-transform: uppercase;
	margin-bottom: 45px;
}

/* MEMBERSHIPS */

.pricing {
	background-color: #CF3046;
	border-radius: 5px;
	margin: 20px 0;
	text-align: center;
	.pricing-plan {
		color: #ffffff;
		font-size: 1.5em;
		font-weight: bold;
	}
	.pricing-price {
		background-color: #ffffff;
		font-size: 3em;
		font-weight: bold;
		color: #CF3046;
	}
	.pricing-list {
		background-color: #ffffff;
		border-radius: 5px;
		padding-bottom: 15px;
		list-style-type: none;
		min-height: 150px;
	}
	.pricing-items {
		background-color: #ffffff;
		font-size: 0.8em;
		color: #777777;
		padding-bottom: 12px;
	}
}

/* CLASSES */

.classes-tile {	
	height: 250px;
	width: 100%;
	position: relative;
	border: 1px solid #CF3046;
	overflow: hidden;
	span {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: center;
		font-size: 1.6em;
		text-transform: uppercase;
		background-color: #CF3046;
		color: #ffffff;
		opacity: 0.8;		
	}
}

.classes-text {
	font-size: 1em;
}

.spinning-class {
	background: image-url('spinning-thumbnail.png') no-repeat;
	background-position: center;	
}

.zumba-class {
	background: image-url('zumba-thumbnail.png') no-repeat;
	background-position: center;	
}

.yoga-class {
	background: image-url('yoga-thumbnail.png') no-repeat;
	background-position: center;	
}

/* CALENDAR */

.spinning-sch {
	background-color: #3DC451;
	padding: 3px;
}

.bodycombat-sch {
	background-color: #C43D5A;
	padding: 3px;
}

.yoga-sch {
	background-color: #549FB8;
	padding: 3px;
}

.white-calendar {
	color: #ffffff;
	th {
		background-color: #CF3046;
		padding: 5px 35px;
		font-size: 1em;
		border: 1px solid #9E2435;
		text-align: center;
	} 
	td {
		font-size: 0.8em;
		text-align: center;
		background-color: #CCCCCC;
		border: 1px solid #9E2435;
		vertical-align: top;
	}
	.hour-label {
		background-color: #CF3046;
		color: #ffffff;
		vertical-align: middle;
		padding: 2px 2px;
	}
}

.white-calendar .calendar-item {
	width: 140px;
	.name {
		font-size: 1em;
	}
	.starts {
		font-size: 0.6em;
	}
	.duration {
		font-size: 0.8em;
	}
	.instructor {
		font-size: 0.6em;
	}
}

/* CONTACT */
.map-tile {
	border: 2px solid #CF3046;
	width: 100%;
	overflow: hidden;
}

.link-contact-fb {
	a {
		&:hover{
			text-decoration: none;
		}
	}
}

.contact-hours {
	td {
		padding-right: 7px;
	}	
}

address {
	i {
		color: #CF3046;
	}
}
/* MEDIA QUERIES */

/********** Extra Large devices only **********/
@media (min-width: 1200px) {
 	
}


/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  	#menu {
	  	li {
	  		font-size: 0.6em;  		
	  		margin: 0 2px;
	  	}
  	}

	.pricing {
		font-size: 0.8em;
		.pricing-items {
			font-size: 0.7em;
			padding-bottom: 6px;
		}		
		.pricing-tag {
			font-size: 0.4em;
		}
	}  	

	.white-calendar {
		th {
			padding: 5px 15px;
			font-size: 0.8em;
			border: 1px solid #9E2435;
		} 
		td {
			font-size: 0.8em;
			border: 1px solid #9E2435;
		}
	}

	.white-calendar .calendar-item {
		width: 120px;
		.name {
			font-size: 0.8em;
		}
		.starts {
			font-size: 0.6em;
		}
		.duration {
			font-size: 0.8em;
		}
		.instructor {
			font-size: 0.6em;
		}
	}	
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		font-size: 16px;
	}	
	#header {
	  .top-contact{
	  	padding: 7px 0px;
	  	background-color: #ce021f;
	  	color: #ffffff;
	  	i {
	  		font-size: 0.8em;
	  	}
	  	.info {
	  		margin: 0px 10px 0px 5px;
	  		font-size: 0.8em;
	  	}
	  }
	}	

	#menu {
		li {
		  	padding: 0 3px;
		  	margin: 0 3px;
		  	font-size: 0.6em;
		  	&:hover {
			  	padding: 3px 4px;
		  	}
		  	a {
		  		font-size: 1.4em;	  		
		  	}
		}	
		.active{
			border-bottom: 3px solid #ce021f;
			padding-bottom: 5px;
		}		
	}	 

	#logo-img {
		background: image-url("logo_medium.png") no-repeat;
		width: 100px;
		height: 60px;
	}  

	.pricing {
		margin: 5px 0;
		text-align: center;
		.pricing-plan {
			font-size: 1.5em;
		}
		.pricing-price {
			font-size: 1.6em;
		}
		.pricing-list {
			border-radius: 5px;
			padding-bottom: 15px;
			min-height: 150px;
		}
		.pricing-items {
			font-size: 0.8em;
		}
		.pricing-tag {
			font-size: 0.4em;
		}
	}	

	.white-calendar {
		th {
			padding: 5px 5px;
			font-size: 0.8em;
			border: 1px solid #9E2435;
		} 
		td {
			font-size: 0.6em;
			border: 1px solid #9E2435;
		}
	}

	.white-calendar .calendar-item {
		width: 120px;
		.name {
			font-size: 0.8em;
		}
		.starts {
			font-size: 0.6em;
		}
		.duration {
			font-size: 0.8em;
		}
		.instructor {
			font-size: 0.6em;
		}
	}	
}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {	
	#mobile_menu {
		text-align: center;
		li {
			display: block;
			list-style-type: none;		
		  	transition: 0.4s;
		  	font-size: 0.8em;
		  	padding-top: 3px;
		  	margin: 0;
		  	a {
			  	color: #ffffff;
			  	text-decoration: none;
			  	text-transform: uppercase;
			  	cursor: pointer;  		
		  	}
		}	
	}
	#mobile_menu_container {
		display: none;
	}
	#logo-img {
		background: image-url("logo_small.png") no-repeat;
		width: 100px;
		height: 60px;
	}   
	.toggler-icon {
		display: inline;
		color: #ffffff;
		font-size: 2em;
	}
	#menu_container {
		width: 97.5%;
	}	
}